<div id="candidate-list">
{{#candidates}}
    <div class="candidate {{cid}}" data-candidate="{{cid}}">
        <div class="candidate--image">

        </div>
        <div class="candidate--info">
            <p>{{first_name}} {{last_name}}
        </div>
    </div>
{{/candidates}}
</div>